[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wenaro
[access "refs/for/refs/*"]
	read = group user/wenaro
	push = group user/wenaro
	label-Code-Review = -2..+2 group user/wenaro
	label-Verified = -1..+1 group user/wenaro
	rebase = group user/wenaro
	removeReviewer = group user/wenaro
	submit = group user/wenaro
[access "refs/heads/*"]
	read = group user/wenaro
	create = group user/wenaro
	push = +force group user/wenaro
	pushMerge = group user/wenaro
[access "refs/tags/*"]
	push = +force group user/wenaro
	pushTag = group user/wenaro
	pushSignedTag = group user/wenaro
